<!<!DOCTYPE>
<html>
    <head>
    <meta charset="UTF-8" />
    <title> mission</title>
    <!--样式-->
    <style type="text/css">
    body {
        background-color: #d2b48c;
        margin-left: 20%;
        margin-right: 20%;
        border: 3px dotted green;
        padding: 20px 20px 20px 20px;
        font-family: sans-serif;
    }
</style>
    <!-- 背景颜色 -->
    <!-- 正文与页面左右间距 -->
    <!--边框颜色 样式 粗细-->
    <!--内容和边框内边距 -->
    <!--字体设置-->
   </head>

<body>
    <h1>Starbuzz coffee's<hr>mission</h1>
    <p>To provid all the
        <br> caffeine that you need
        <br> to power your life.</p>
    <p>Just drink it </p>
  <p> 中国<a href="../Starbuzz1.html"> 回到主页</a> <li>1234567</li></p> 
  <!--块元素与内联元素测试-->
</body>
</html>